<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>COP4655GroupProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1437A99B2270BE6E00A75B26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1437A9AF2270BE6F00A75B26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1437A9BA2270BE6F00A75B26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
